.detbl
{
direction:ltr; border-spacing:0px;
border-collapse: collapse;
border: 0px none black;
}
.de_list
{
margin: 0;padding: 0;
}
div.p
{
margin-top:0px;
margin-bottom:0px;
font-weight:normal;
}

div.description_on_page div.p,
 div.description_on_page div.p a,
 .m-pageContent__side__header div.p,
 .m-pageContent__side__header div.p a,
 .m-pageContent__side__footer div.p,
 .m-pageContent__side__footer div.p a,
 .m-pageContent__side__right div.p,
 .m-pageContent__side__right div.p a,
 .m-pageContent__side__left div.p,
 .m-pageContent__side__left div.p a
{
font-family:"Ableton Sans Small";
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
h1
{
font-family:"Arial";
font-size: 13pt;color:#375db0;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline;
margin:0;
padding:0;
}
h2
{
font-family:"Arial";
font-size: 11pt;color:#4f87fd;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline;
margin:0;
padding:0;
}
span.code
{
font-family:"Courier New";
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
span.quote
{
font-family:"Georgia";
font-size: 11pt;color:#000000;
font-style:italic;
text-decoration:none;
font-weight:normal;
}
img.de_75F9C4A440
{
margin-top: 3px; margin-right: 3px; margin-bottom: 3px; margin-left: 3px;}
img.de_780D01ADE8
{
margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;}
span.de_1D03D55745
{
	font-family: "Ableton Sans Small";
	font-size: 11pt;
}
span.de_23C19DE48C
{
	font-family: "Times New Roman";
	font-size: 11pt;
	color:#000000;
}
span.de_2640472EBE
{
	font-family: "Ableton Sans Small";
}
span.de_38AAE45C6C
{
	font-family: "Arial";
	font-size: 12pt;
	color:#ff0000;
}
span.de_4AF4BF9DD6
{
	font-family: "Arial";
	font-size: 11pt;
	color:#000000;
}
span.de_4CD179DA38
{
	font-family: "Calibri";
	font-size: 11pt;
	color:#000000;
}
span.de_513F257173
{
	font-family: "Arial";
	color:#ff003c;
}
span.de_550AACB13D
{
	font-family: "Times New Roman CE";
	font-size: 12pt;
	color:#000000;
}
span.de_56F4564E24
{
	font-family: "Arial";
	font-size: 12pt;
	color:#000000;
}
span.de_68B99ACC5C
{
	font-family: "Arial";
}
span.de_7ECBECEBE5
{
	font-family: "Times New Roman";
	font-size: 12pt;
	color:#000000;
}
span.de_81B97809ED
{
	font-family: "Times New Roman";
	font-size: 12pt;
	color:#ff0000;
}
span.de_831A42D866
{
	font-family: "Ableton Sans Small";
	color:#000000;
}
span.de_84040A150E
{
	font-family: "Arial";
	color:#0000ff;
	text-decoration:underline;
}
span.de_8577EFB2A3
{
	font-family: "Ableton Sans Small";
	font-size: 12pt;
	color:#ff0000;
}
span.de_8C403700ED
{
	font-family: "Arial";
	font-size: 11pt;
}
span.de_922EDE2353
{
	font-family: "Arial";
	font-size: 14pt;
	color:#000000;
}
span.de_9657DEC058
{
	font-family: "Arial";
	font-size: 12pt;
	color:#0070c0;
}
span.de_A08FC7344E
{
	font-family: "Ableton Sans Small";
	font-size: 14pt;
	color:#ff0000;
}
span.de_ABD2EC90C2
{
	font-family: "Arial";
	font-size: 14pt;
	color:#0070c0;
}
span.de_AC2A21CFAA
{
	font-family: "Times New Roman";
	font-size: 12pt;
	color:#0070c0;
}
span.de_AE86ED971F
{
	font-family: "Ableton Sans Small";
	font-size: 12pt;
	color:#000000;
}
span.de_AFE3128055
{
	font-family: "Ableton Sans Small";
	font-size: 14pt;
	color:#0070c0;
}
span.de_B3C12BA318
{
	font-family: "Ableton Sans Small";
	color:#ff003c;
}
span.de_C0E7FF3839
{
	font-family: "Arial";
	font-size: 11pt;
	color:#404040;
}
span.de_C40D65A6EB
{
	font-family: "Calibri";
	font-size: 12pt;
	color:#000000;
	font-style:italic;
}
span.de_C47D959D2B
{
	font-family: "Times New Roman";
	font-size: 12pt;
	color:#000000;
	text-decoration:underline;
}
span.de_C7F7997863
{
	font-family: "Times New Roman Greek";
	font-size: 12pt;
	color:#000000;
}
span.de_CA1A7AD334
{
	font-family: "Arial";
	font-size: 14pt;
	color:#ff0000;
}
span.de_CBCA81314A
{
	font-family: "Ableton Sans Small";
	font-size: 14pt;
	color:#000000;
}
span.de_CCD88D350B
{
	font-family: "Arial";
	font-size: 12pt;
	color:#000000;
	font-style:italic;
}
span.de_D0414E4B66
{
	font-family: "Ableton Sans Small";
	font-size: 11pt;
	color:#000000;
}
span.de_D2D307ACB2
{
	font-family: "Times New Roman";
	font-size: 12pt;
	color:#000000;
	font-style:italic;
}
span.de_D6040495A8
{
	font-family: "Arial";
	color:#000000;
}
span.de_D6C61B56F6
{
	font-family: "Ableton Sans Small";
	font-size: 12pt;
	color:#0070c0;
}
span.de_D8BCB2AC4C
{
	font-family: "Calibri";
	font-size: 12pt;
	color:#000000;
}
span.de_EE63FE31DD
{
	font-family: "JetBrains Mono";
	font-size: 10pt;
	color:#6a8759;
}
span.de_F3194616F1
{
	font-family: "Ableton Sans Light";
	font-size: 12pt;
	color:#000000;
}
span.de_FEB1B86AF9
{
	font-family: "Ableton Sans Small";
	font-size: 12pt;
	color:#000000;
	font-style:italic;
}
.list-element {
	list-style-type: none;
}
.list-counter-0 > div > * {
	text-indent: 0px;}
.list-counter-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-0, decimal) '.\00a0';
	counter-increment: list-counter-0;
}
.list-counter-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-1 > div > * {
	text-indent: 0px;}
.list-counter-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-1, decimal) '.\00a0';
	counter-increment: list-counter-1;
}
.list-counter-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-2 > div > * {
	text-indent: 0px;}
.list-counter-2 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-2, disc) '\00a0';
	counter-increment: list-counter-2;
}
.list-counter-2 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-3 > div > * {
	text-indent: 0px;}
.list-counter-3 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-3, disc) '\00a0';
	counter-increment: list-counter-3;
}
.list-counter-3 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-4 > div > * {
	text-indent: 0px;}
.list-counter-4 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-4, disc) '\00a0';
	counter-increment: list-counter-4;
}
.list-counter-4 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-5 > div > * {
	text-indent: 0px;}
.list-counter-5 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-5, disc) '\00a0';
	counter-increment: list-counter-5;
}
.list-counter-5 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-6 > div > * {
	text-indent: 0px;}
.list-counter-6 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-6, disc) '\00a0';
	counter-increment: list-counter-6;
}
.list-counter-6 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-7 > div > * {
	text-indent: 0px;}
.list-counter-7 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-7, disc) '\00a0';
	counter-increment: list-counter-7;
}
.list-counter-7 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
